body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: pink;
    padding: 20px;
    text-align: center;
    font-size: 25px;
}
nav {
    text-align: center;
    padding: 10px;
    background-color: #e2247d;
    font-size: 25px;
}
nav a {
    color: rgba(255, 255, 255, 0.911);
    text-decoration: none;
    padding: 10px;
}
section {
    padding: 20px;
    text-align: center;
}
footer {
    background-color: #535151; 
    color: black;
    text-align: center;
    padding: 3px;
    position: botoom;
    width: 100%;
    bottom: 0;
}
form {
    max-width: 600px;
    margin: 0 auto;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho del elemento */
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #45a049;
}