* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  }


.itemCarrouselTarjeta img {
  width: 100%;
  height: 300px;
  box-shadow: 0 0 50px rgba(82, 4, 56, 0.274);
}
.carrousel {
  width: 100%;
}
.conteCarrousel {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.itemCarrousel {
  position: relative;
  width: 100%;
  height: 100%;
}
.itemCarrouselTarjeta {
  width: 100%;
  height: 100%;
}
.itemCarrouselArrows {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.itemCarrouselArrows > i:hover {
  cursor: pointer;
}
.conteCarrouselController {
  background-color: transparent;
  height: 2em;
  display: flex;
  justify-content: space-evenly;
}
.conteCarrouselController > a {
  text-decoration: none;
  font-size: 2em;
  color: rgb(29, 1, 1);
}
.itemCarrouselArrows > a > i {
  color: #383636;
}
.conte{
  margin-top: 50px;
}

.conte img{
  width: 300px;
  height: 280px;
  padding: 5px;
  margin: 5px;
  border-radius: 50px;
  border: 8px solid #dfa8cdc1;
  
}
.conte img:hover{
  cursor: pointer;
  background-color: hsla(315, 71%, 27%, 0.81);
}
.conte h3{
    font-size: 25px;
    text-align: top;
    text-align: center;
    color: #544c53;
    background-color: #ebb8dd;;
    width: 50%;
    align-items: center;
    margin-left: 25%;
    margin-bottom: 40px;
    
}
