.productosIndex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.conte{
  margin-top: 50px;
  
}

.conte img{
  width: 300px;
  height: 280px;
  padding: 5px;
  margin: 5px;
  border-radius: 50px;
  border: 8px solid #dfa8cdc1;
  }

.conte img:hover{
  cursor: pointer;
  background-color: hsla(315, 71%, 27%, 0.81);
}
.titulosComidas {
  font-size: x-large;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  background-color: #ebb8dd;
}

.titulosComidas:hover {
  background-color: #cbc6e2;
}
