        body {
            font-family: Arial, sans-serif;
            margin: 20;
            padding: 0;
        }
        .product {
            width: 30%;
            background: #f3a5c9;
            padding: 10px;
            border: 1px solid #fc6aae;
            margin: 20px;
            float: left;
            box-sizing: content-box;
        }
        .product img {
            max-width: 100%;
            height: auto;
        }
        .product h2 {
            margin-top: 10;
        }
        .product p {
            margin-bottom: 30px;
        }
        .add-to-cart {
            background-color: #4CAF50;
            color: rgb(250, 248, 249);
            padding: 8px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            float: right;
        }
        .add-to-cart:hover {
            background-color: #45a049;
        }
        .clearfix::after {
            content: "";
            display: table;
            clear: both;
        }
main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: #ebb8dd; 
    color: #000000;
    text-align: center;
    padding: 3px;
    position: botoom;
    width: 100%;
    bottom: 0;
}
