
body {
    font-family: Arial, sans-serif;
    margin: 10;
    padding: 20;
    background-color: #f179b5;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}
h2 {
    color: #4e0344;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
}
p {
    color: white;
    line-height: 1.6;
}

footer {
    background-color: #ebb8dd; 
    color: #000000;
    text-align: center;
    padding: 3px;
    position: botoom;
    width: 100%;
    bottom: 0;
}
